html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
#root {
  width: 100%;
  height: 100%;
}
.main {
  display:flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sidebar {
  height: 100%;
  flex: 0 0 100px;
  box-sizing: border-box;
  background-color: #232324;
}

.sidebar .arco-menu-inner {
  overflow-y: auto;
}

.diagram-container{
  height: 100%;
  flex: 1 1 100%;
}